<script>
export default {};
</script>

<template>
  <div>
    <!--start ABOUT US-->
    <section class="section bg-light" id="features">
      <div class="container">
        <div class="row vertical-content">
          <div class="col-lg-5">
            <div class="features-box">
              <h3>A digital web design studio creating modern & engaging online experiences</h3>
              <p
                class="text-muted web-desc"
              >Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              <ul class="text-muted list-unstyled margin-t-30 features-item-list">
                <li class>We put a lot of effort in design.</li>
                <li class>The most important ingredient of successful website.</li>
                <li class>Sed ut perspiciatis unde omnis iste natus error sit.</li>
                <li class>Submit Your Orgnization.</li>
              </ul>
              <a href="javascript: void(0);" class="btn btn-custom margin-t-30 waves-effect waves-light">
                Learn More
                <i class="mdi mdi-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="features-img features-right text-right">
              <img src="@/assets/images/online-world.svg" alt="macbook image" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--END ABOUT US-->
    <!--START WEBSITE-DESCRIPTION-->
    <section class="section section-lg bg-web-desc">
      <div class="bg-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="text-white">Build your dream website today</h2>
            <p
              class="padding-t-15 home-desc"
            >But nothing the copy said could convince her and so it didn’t take long until a few insidious Copy Writers ambushed her.</p>
            <a
              href="javascript: void(0);"
              class="btn btn-bg-white margin-t-30 waves-effect waves-light mb-5"
            >View Plan & Pricing</a>
          </div>
        </div>
      </div>
      <div class="bg-pattern-effect">
        <img src="@/assets/images/bg-pattern.png" alt />
      </div>
    </section>

    <!--END WEBSITE-DESCRIPTION-->
  </div>
</template>