<script>
export default {};
</script>

<template>
  <div>
    <!--START TESTIMONIAL-->
    <section class="section pt-4" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h1 class="section-title text-center">Behind The People</h1>
            <div class="section-title-border margin-t-20"></div>
            <p
              class="section-subtitle text-muted text-center font-secondary padding-t-30"
            >It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
          </div>
        </div>
        <div class="row margin-t-50">
          <div class="col-lg-3 col-sm-6">
            <div class="team-box text-center hover-effect">
              <div class="team-wrapper">
                <div class="team-member">
                  <img alt src="@/assets/images/team/img-1.jpg" class="img-fluid rounded" />
                </div>
              </div>
              <h4 class="team-name">Frank Johnson</h4>
              <p class="text-uppercase team-designation">CEO</p>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="team-box text-center hover-effect">
              <div class="team-wrapper">
                <div class="team-member">
                  <img alt src="@/assets/images/team/img-2.jpg" class="img-fluid rounded" />
                </div>
              </div>
              <h4 class="team-name">Elaine Stclair</h4>
              <p class="text-uppercase team-designation">Designer</p>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="team-box text-center hover-effect">
              <div class="team-wrapper">
                <div class="team-member">
                  <img alt src="@/assets/images/team/img-3.jpg" class="img-fluid rounded" />
                </div>
              </div>
              <h4 class="team-name">Wanda Arthur</h4>
              <p class="text-uppercase team-designation">Developer</p>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6">
            <div class="team-box text-center hover-effect">
              <div class="team-wrapper">
                <div class="team-member">
                  <img alt src="@/assets/images/team/img-4.jpg" class="img-fluid rounded" />
                </div>
              </div>
              <h4 class="team-name">Joshua Stemple</h4>
              <p class="text-uppercase team-designation">Manager</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--END TESTIMONIAL-->

    <!--START PROCESS-->
    <section class="section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h1 class="section-title text-center">Work Process</h1>
            <div class="section-title-border margin-t-20"></div>
            <p
              class="section-subtitle text-muted text-center font-secondary padding-t-30"
            >In an ideal world this website wouldn’t exist, a client would acknowledge the importance of having web copy before the design starts.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 text-center process-left-icon-1">
            <i class="pe-7s-angle-right"></i>
          </div>
          <div class="col-lg-6 text-center process-left-icon-2">
            <i class="pe-7s-angle-right"></i>
          </div>
        </div>
        <div class="row margin-t-50">
          <div class="col-lg-4 plan-line">
            <div class="text-center process-box">
              <i class="pe-7s-pen text-custom"></i>
              <h4 class="padding-t-15">Tell us what you need</h4>
              <p class="text-muted">The Big Oxmox advised her not to do so.</p>
            </div>
          </div>
          <div class="col-lg-4 plan-line">
            <div class="text-center process-box">
              <i class="pe-7s-id text-custom"></i>
              <h4 class="padding-t-15">Get free quotes</h4>
              <p class="text-muted">Little Blind Text didn’t listen.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="text-center process-box">
              <i class="pe-7s-target text-custom"></i>
              <h4 class="padding-t-15">Deliver high quality product</h4>
              <p class="text-muted">When she reached the first hills.</p>
            </div>
          </div>
          <div class="text-center mx-auto">
            <a
              href="javascript: void(0);"
              class="btn btn-custom waves-light waves-effect margin-t-50"
            >
              Get Started
              <i class="mdi mdi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!--END PROCESS-->
  </div>
</template>